@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes bounce-x {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }
}

.animate-bounce-x {
  animation: bounce-x 1s infinite;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.marquee-blur::before,
.marquee-blur::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.marquee-blur::before {
  left: 0;
  background: linear-gradient(to right, rgb(249, 250, 251), rgba(249, 250, 251, 0));
}

.marquee-blur::after {
  right: 0;
  background: linear-gradient(to left, rgb(249, 250, 251), rgba(249, 250, 251, 0));
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}